name: 'Check Cluster'

on:
  workflow_dispatch:
        
jobs:
  Check_Cluster:
    name: 'Terraform'
    runs-on: ubuntu-latest
    #environment: aws
    environment: prod_aws

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1
        
    - name: Terraform Execution
      run: |
        echo "********* CHECK OIDC *********"
        eksctl utils associate-iam-oidc-provider \
          --region us-east-1 \
          --cluster dev-eks \
          --approve

        echo "********* CREATE SERVICE ACCOUNT *********"
        eksctl create iamserviceaccount \
          --cluster=dev-eks \
          --namespace=kube-system \
          --name=aws-load-balancer-controller \
          --attach-policy-arn=arn:aws:iam::737349677596:policy/AWSLoadBalancerControllerIAMPolicy \
          --override-existing-serviceaccounts \
          --region us-east-1 \
          --approve
        
        echo "********* HELM REPOS *********"
        helm repo add eks https://aws.github.io/eks-charts
        helm repo update eks

        echo "********* UPGRADE SERVICEACCOUNT *********"
        helm upgrade -i aws-load-balancer-controller eks/aws-load-balancer-controller \
          -n kube-system \
          --set clusterName=dev-eks \
          --set serviceAccount.create=false \
          --set serviceAccount.name=aws-load-balancer-controller
        
        echo "********* CHECK INGRESS CONTROLLER *********"
        kubectl get deployment -n kube-system aws-load-balancer-controller

